@font-face {
    font-family: orator;
    src: url(../fonts/OratorStd.otf);
}

* {
    color: white;
    background-color: #002542;
    font-family: orator;
    font-size: xx-large;
}

img {
    max-height: 40vw;
    width: auto;
}

table.outer {
    width: 100%;
    height: 100%;
}
